
<div class="navigation-wrap bg-transparent start-header start-style">
  <div class="container">
    <div class="row">
      
      <div class="row">
        <nav class="navbar navbar-expand-sm navbar-light abc">               
          

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Home</a>
                
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link"  href="#" routerLink="/products">Products</a>
              </li>
              
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="navbar-brand" target="_blank"><img class="zoom"
                    src="https://cdn.discordapp.com/attachments/869420211101634560/904335279429648444/cropped-unnamed-2.png" alt=""></a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Services</a>
               
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#">Journal</a>
              </li>
              
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
